<div class='toolbar'>
  <h4 class='pull-left'>Instagram</h4>
  <a href='#' class='pull-right' style='line-height: 40px'><i class='glyphicon glyphicon-play active'></i></a>
  <a href='#' class='pull-right' style='line-height: 40px'><i class='glyphicon glyphicon-stop'></i></a>
  <a href='#' class='pull-right' style='line-height: 40px'><i class='glyphicon glyphicon-remove'></i></a>
</div>
<div class="clearfix"></div>
<div id="<%= cid %>" class="content carousel slide" style='height: 300px; width: 300px' data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner"></div>

  <!-- Controls -->
  <a class="left carousel-control" href="#<%= cid %>" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#<%= cid %>" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>