<a class="close" data-dismiss="alert" href="#">×</a> 
<a href='#'><i class='icon-stop'></i></a>
<a href='#'><i class='icon-play'></i></a>
<h4>Instagram</h4>
<div id="carousel-example-generic" class="content carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner"></div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>