<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

<script src='/vendor/bower_components/jquery/jquery.js'></script>
<script src="/vendor/bower_components/prismjs/prism.js"></script>
<script>
var url = window.location;
// Will also work for relative and absolute hrefs
$('ul.nav li').removeClass('active');
$('ul.nav a').filter(function() {
    return this.href == window.location.href;
}).parent().addClass('active');
</script>