<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BronsonJS</title>
    <meta name="description" content="BronsonJS is a module application framework for building large scalable web applications." />
    <meta name="keywords" content="JavaScript,RequireJS,AMD,Modules,PubSub,Publish,Subscribe,Bronson,BronsonJS" />
    <meta name="author" content="Eric Clifford" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/vendor/bower_components/prismjs/prism.css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Lekton|Ubuntu+Mono:400,700" rel="stylesheet">
    <script src="/vendor/bower_components/modernizr/modernizr.js"></script>
  </head>