<!DOCTYPE html>
<html>
  <head>
  <title>Bronson Demo</title>
  <link rel='stylesheet' type='text/css' href='stylesheets/bootstrap.css'/>
  <link rel='stylesheet' type='text/css' href='stylesheets/styles.css'/>
  <link rel='stylesheet' type='text/css' href='stylesheets/pygment_trac.css'/> 
  <script src='javascripts/vendor/jquery/jquery.js'></script>
  <script src='javascripts/vendor/bootstrap/bootstrap.js'></script>
  <script data-main='apps/lib/app' src='javascripts/vendor/requirejs/require.js'></script>
  <script src='javascripts/vendor/requirejs/require-conf.js'></script>
</head>
  <body>
    <h1 class='fontface'>BronsonJS</h1>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active">
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="documentation.html">Documentation</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{ content }} 
  </body>
</html>