<!DOCTYPE html>
<html>
  <head>
    <title>BronsonJS</title>
    <meta name="description" content="BronsonJS is a module application framework for building large scalable web applications." />
    <meta name="keywords" content="JavaScript,RequireJS,AMD,Modules,PubSub,Publish,Subscribe,Bronson,BronsonJS" />
    <meta name="author" content="Eric Clifford" />
    <meta charset="UTF-8" />
    <link rel='stylesheet' type='text/css' href='stylesheets/bootstrap.css'/>
    <link rel='stylesheet' type='text/css' href='stylesheets/styles.css'/>
    <link rel='stylesheet' type='text/css' href='stylesheets/pygment_trac.css'/> 
    <script src='javascripts/vendor/jquery/jquery.js'></script>
    <script src='javascripts/vendor/bootstrap/bootstrap.js'></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34017473-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</head>
  <body>
   <a href="https://github.com/eclifford/bronson">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
  </a>
    <a href='/'><h1 class='fontface'>BronsonJS</h1></a>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active">
              <a href="index.html">Overview</a>
            </li>
            <li>
              <a href="gettingstarted.html">Getting Started</a>
            </li>
            <li>
              <a href="demo.html">Demo</a>
            </li>
            <li>
              <a href="reference.html">Reference</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{ content }} 
  </body>
</html>