<!DOCTYPE html>
<html>
  <head>
  <title>Bronson Demo</title>
  <link rel='stylesheet' type='text/css' href='stylesheets/bootstrap.css'/>
  <link rel='stylesheet' type='text/css' href='stylesheets/styles.css'/>
  <link rel='stylesheet' type='text/css' href='stylesheets/pygment_trac.css'/> 
  <script src='javascripts/vendor/jquery/jquery.js'></script>
  <script src='javascripts/vendor/bootstrap/bootstrap.js'></script>

</head>
  <body>
 <a href="https://github.com/eclifford/bronson"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <h1 class='fontface'>BronsonJS</h1>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active">
              <a href="index.html">Overview</a>
            </li>
            <li>
              <a href="demo.html">Demo</a>
            </li>
            <li>
              <a href="reference.html">Reference</a>
            </li>
            <li>
              <a href="tutorials.html">Tutorials</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{ content }} 
  </body>
</html>